QMD_POSTGRES_URL=postgresql+psycopg://user:pass@yourserver.com/qmd # replace sever name and user:pass with your data
QMD_POSTGRES_SCHEMA=qmd_py
QMD_LLM_BASE_URL=http://yourserver.com:8099 # replace the server name and port
